<div class="grocery">
  <div class="header">
    <i class="fas fa-chevron-left mobile-only"></i>
    <h1>Product List</h1>
    <i
      class="fas fa-star"
      [ngClass]="{ 'favorite-selected': showFavorite }"
      (click)="showFavorite = !showFavorite"
    ></i>
  </div>
  <div class="grocery-body">
    <div *ngFor="let item of getGroceries()">
      <div
        class="card-img"
        [style.background-image]="bgImageParser(item.image_url)"
      >
        <i
          class="fas fa-star"
          [ngClass]="{ 'favorite-selected': item.favorite }"
          (click)="setFavoriteItem(item)"
        ></i>
      </div>
      <div class="card-data">
        <div class="card-data-main">
          <span>{{ item.productName }}</span>
          <span>{{ item.price | currency }}</span>
        </div>
        <div class="card-data-description descktop-only">
          {{ item.productDescription }}
        </div>
      </div>
      <div class="card-stock-manage">
        <span>{{ item.stock }} left</span>
        <div
          class="button card-button-add"
          [ngClass]="{ 'btn-disabled': !availability(item) }"
          (click)="addToCart(item)"
        >
          <i class="fas fa-cart-plus"></i> add
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
<cart (reloadEvent)="reloadData()"></cart>
