<div class="header">
  <i (click)='navigateToGrocery()' class="fas fa-chevron-left mobile-only"></i>
  <h1>Cart</h1>
  <i></i>
</div>
<div class="cart-body">
  <div *ngFor="let item of cartService.getCart()">
    <div
      class="card-img"
      [style.background-image]="bgImageParser(item.image_url)"
    ></div>
    <div class="card-data">
      <div class="card-data-main">
        <span>{{ item.productName }}</span>
        <span>{{ item.price | currency }}</span>
      </div>
      <div class="card-counter">
        <i class="fas fa-minus" (click)="cartService.addItems(item, -1)"></i>
        {{ item.count }}
        <i class="fas fa-plus" (click)="cartService.addItems(item, 1)"></i>
      </div>
    </div>
  </div>
</div>
<div class="footer">
     <h2>Total: {{getTotal() | currency}}</h2>
     <div class='button' [ngClass]="{ 'btn-disabled': !getTotal() }" (click)='checkOut()'>Checkout</div>
</div>
